@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: rgba(242, 242, 242, 0.4);
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #31588a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
